In [86]:
import pandas as pd
import numpy as np
import sklearn
from sklearn.decomposition import TruncatedSVD
import warnings

In [87]:
Data = pd.read_csv('C:/Users/steff/OneDrive/Documents/Python Scripts/CHALL RS ALL_INTERACTIONS.csv')
Data['USER_ID'] = Data['USER_ID'].astype('str')
Data['CH_ID'] = Data['CH_ID'].astype('str')

users = Data['USER_ID'].unique() 
challenges = Data['CH_ID'].unique()

In [88]:
Data

     USER_ID   CH_ID  ALL_INTERACTIONS  UPLOADED_DAYS_AGO
0          1    CH_1                 7                365
1          1    CH_2                 4                361
2          1    CH_3                11                357
3          1    CH_4                 2                353
4          1    CH_5                 5                349
...      ...     ...               ...                ...
9995     100   CH_96                 6                  1
9996     100   CH_97                 5                  1
9997     100   CH_98                 9                  1
9998     100   CH_99                 6                  1
9999     100  CH_100                 6                  1

[10000 rows x 4 columns]

In [89]:
m7= Data.pivot_table(index=["USER_ID"], columns=["CH_ID"], values=["ALL_INTERACTIONS"])

In [90]:
m7

        ALL_INTERACTIONS                                                   \
CH_ID               CH_1 CH_10 CH_100 CH_11 CH_12 CH_13 CH_14 CH_15 CH_16
USER_ID
1                      7     7      9     5     6     4     3     7     7
10                     6     7     10     6     7     3     5     6     9
100                    6     7      6     3     3     5     4     5     7
11                    10     6      6     9     8     8     7     3     9
12                     6     4      6     4     5    10     9     4     4
...                  ...   ...    ...   ...   ...   ...   ...   ...   ...
95                     8     9      7    10     6     8     7     7     7
96                     7     4      7     7     9     4     5    10     7
97                     6     3     11    11     9     6     7     9     4
98                     8     8      4    11     3     6     7     3     8
99                     5     4      4     8     7     7     2     7     7

               ...
CH_ID   CH_17  ... CH_90 CH_91 CH_92 CH_93 CH_94 CH_95 CH_96 CH_97 CH_98 CH_99
USER_ID        ...
1           7  ...     4     5     5     6     9     7     5     4     9     8
10          5  ...     4     2     2     7    10     5     6     3     6     8
100         3  ...     8     7     8     9     9     9     6     5     9     6
11          4  ...     8     5     7     7     7     4    10     9     5     7
12          8  ...     2     4     8     4     9     6     7     6     5     6
...       ...  ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
95          2  ...     4     5     4     9     4     2     5     8    10     5
96          9  ...     5     7     5     0     6     9     3     3     5     3
97          3  ...     2     3     8     2     9     4     6     6     8     8
98          4  ...     9     2     9     6     3     8     6     7     6     6
99          9  ...     4     5     9     7     9     4     6     6     6     3

[100 rows x 100 columns]

In [91]:
m7.shape

(100, 100)

In [92]:
X = m7.values.T
X.shape
#Fitting the Model
SVD = TruncatedSVD(n_components=5, random_state=0)#are five categori
matrix = SVD.fit_transform(X)
matrix.shape

(100, 5)

In [97]:
X

array([[ 7,  6,  6, ...,  6,  8,  5],
       [ 7,  7,  7, ...,  3,  8,  4],
       [ 9, 10,  6, ..., 11,  4,  4],
       ...,
       [ 4,  3,  5, ...,  6,  7,  6],
       [ 9,  6,  9, ...,  8,  6,  6],
       [ 8,  8,  6, ...,  8,  6,  3]], dtype=int64)

In [93]:
import warnings
warnings.filterwarnings("ignore",category =RuntimeWarning)
corr = np.corrcoef(matrix)
corr.shape

(100, 100)

In [95]:
SVD

TruncatedSVD(n_components=5, random_state=0)

In [96]:
corr

array([[1.        , 0.99960542, 0.95814987, ..., 0.97838605, 0.96639909,
        0.99113758],
       [0.99960542, 1.        , 0.9536848 , ..., 0.97513016, 0.96381728,
        0.98705723],
       [0.95814987, 0.9536848 , 1.        , ..., 0.98669794, 0.97734126,
        0.97170263],
       ...,
       [0.97838605, 0.97513016, 0.98669794, ..., 1.        , 0.99693887,
        0.98660206],
       [0.96639909, 0.96381728, 0.97734126, ..., 0.99693887, 1.        ,
        0.97297688],
       [0.99113758, 0.98705723, 0.97170263, ..., 0.98660206, 0.97297688,
        1.        ]])