In [188]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import seaborn as sns

import scipy.cluster.hierarchy as sch
from scipy.linalg import lu_factor
from sklearn import preprocessing
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

%matplotlib inline

#The import of the dynamic counters database is carried out (in this case it is an excel test of an updatable file with random values, this is a good comparative test with a server.It can also be .csv as_csv)

In [42]:
df_Challenges = pd.read_excel("C:/Users/steff/OneDrive/Documents/Python Scripts/ChLL CSV dinamic proff.xlsx")

In [37]:
df_Challenges.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Columns: 101 entries, User_ID to Ch_100
dtypes: int64(100), object(1)
memory usage: 78.2+ KB

#Then it is converted to a vector data matrix

#Remember that in total we must have a dataframe with 6 matrices (of reports and counters) for each interaction. (m1,m2,m3,m4,m5,m6,)

Matrix type 1
        
        Only "Parameter_Report"
        
#(the matrix will have values ​​between(1 or 0). Integer binary matrix

Matrix type 2

        and for "Parameter_Report_counter" 
          
#(the matrix will have values can be more than 1). Integer type array

### Step_1 
// a. Create the 6 arrays in the App Challenges database for (SQLite, ORM, MySQL) a dataframe divided into 6 arrays is created as follows:


    m1= ["User_ID", "ChallengeID, "Reviews_counter"]:
    m2= ["User_ID", "ChallengeID, "Comments_counter_report"]:
    m3= ["User_ID", "ChallengeID, "Follow_Report"]:
    m4= ["User_ID", "ChallengeID, "Share_report_counter"]:
    m5= ["User_ID", "ChallengeID, "Accept_report"]:
    m6= ["User_ID", "ChallengeID, "Test video_report"]:

// b. Also create the publication time dataframe: an integer array with only two columns

    df_time = [ChallengeID, "Days_ago_counter"]

### Step_2

// Create a dynamic matrix auto-update total interactions: df_Challenges.

      df_Challenges = [m1+m2+m3+m4+m5+m6]


//In python the following steps must be followed so that the length of the matrix is updated in new users and new challenges.

//a. A "matrix 0" must be created with the same updateable dimensions as the interaction matrices.

    def sum_Challenges(m1,m2,m3,m4,m5,m6)

        if len(m1) == len(m2) == len(m3) == len(m4) == len(m5) == len(m6)
        
        df_Challenges=[]
        
            for i in rangue (len(m1):
                df_Challenges.append([])
                for j in range(len(m1[0])
                    df_Challenges[i].append(0)
 
 //b. We add the matrices by replacing each value in the dynamic matrix 0 in
 
            for i in rangue(len(df_Challenges):
                for j in range(len(df_Challenges[0])
                    df_Challenges[i][j] = m1[i][j] + m2[i][j]  + m3[i][j] + m4[i][j]+ m5[i][j] + m6[i][j]
     
 //c. With each update we return the values, we return the values ​​and we close the first addition program.
            
            return df_Challenges
        else:
            return None
                  
    df_Challenges = sum_Challenges(m1,m2,m3,m4,m5,m6)
    
    if df_Challenges == None:
        print("Not updated")
    else:
        for row in df_Challenges:
        print("[", end=" ")
        for element in row:
            print(element, end= "")
        print("]")
                   

#Each of the matrices corresponds to a type of interaction. In this way, each algorithm will have separate vectors and counters that will later be used.

### Step_3. 

 //We print and then Normalize the matrix df_Challenges. 
 //Normalize is to convert each entry of the matrix into a decimal number between -1 to 1 or between 0 to 1..

In [52]:
print(df_Challenges.head(25))

   User_ID  Ch_1  Ch_2  Ch_3  Ch_4  Ch_5  Ch_6  Ch_7  Ch_8  Ch_9  ...  Ch_91  \
0     Us_1     2     1     4     2     5     4     3     5     1  ...      4
1     Us_2     0     3     1     4     0     5     5     0     2  ...      4
2     Us_3     0     1     0     4     3     4     2     1     0  ...      2
3     Us_4     1     2     4     0     0     3     2     5     4  ...      3
4     Us_5     5     3     2     3     0     4     1     2     1  ...      5
5     Us_6     3     3     5     2     2     2     2     1     4  ...      1
6     Us_7     5     0     5     1     3     0     1     0     5  ...      4
7     Us_8     2     5     1     0     5     1     5     4     0  ...      4
8     Us_9     2     2     3     1     1     1     4     5     0  ...      1
9    Us_10     4     0     4     1     4     2     1     5     4  ...      0
10   Us_11     1     5     5     4     4     4     5     1     1  ...      2
11   Us_12     3     5     1     1     4     1     1     0     5  ...      0
12   Us_13     4     4     3     1     0     4     2     2     4  ...      5
13   Us_14     2     1     5     5     2     4     3     3     4  ...      0
14   Us_15     2     5     0     4     4     2     5     0     2  ...      2
15   Us_16     3     0     4     4     1     4     5     2     1  ...      3
16   Us_17     4     5     2     4     4     1     0     4     2  ...      3
17   Us_18     2     1     2     3     0     3     5     1     1  ...      4
18   Us_19     0     5     0     5     2     0     3     4     3  ...      4
19   Us_20     2     0     3     2     5     3     5     4     0  ...      5
20   Us_21     0     3     1     0     4     0     3     1     2  ...      2
21   Us_22     4     1     5     2     4     1     5     0     4  ...      2
22   Us_23     3     1     2     4     0     3     2     3     0  ...      1
23   Us_24     5     1     0     0     4     5     4     3     3  ...      1
24   Us_25     4     3     0     2     4     2     4     0     5  ...      4

    Ch_92  Ch_93  Ch_94  Ch_95  Ch_96  Ch_97  Ch_98  Ch_99  Ch_100
0       5      0      4      2      3      2      5      5       1
1       5      2      0      3      5      5      2      4       4
2       5      0      2      3      1      2      2      0       3
3       3      0      5      3      5      1      2      0       5
4       3      1      2      5      5      1      4      0       4
5       4      3      4      5      2      3      4      3       3
6       5      4      2      5      4      3      5      5       5
7       5      0      4      3      1      1      3      2       3
8       0      2      5      5      0      1      1      4       5
9       2      0      5      1      1      1      2      0       2
10      1      5      0      5      4      2      3      5       5
11      4      4      5      4      3      2      4      0       0
12      1      4      2      4      2      3      2      1       5
13      4      5      3      0      1      0      3      5       2
14      5      2      5      2      4      2      0      2       3
15      0      2      5      5      1      3      2      4       4
16      2      1      3      2      0      2      2      0       3
17      3      4      3      5      2      2      5      0       1
18      3      5      3      2      1      0      5      4       5
19      2      1      3      2      2      1      1      2       5
20      3      3      1      4      3      1      4      5       4
21      5      0      3      1      4      1      2      4       4
22      1      5      0      4      2      4      2      1       5
23      4      0      1      4      5      2      5      2       4
24      2      0      3      1      4      1      2      1       5

[25 rows x 101 columns]

### Step 4

//To be able to statistically normalize.

//a: We convert the dataframe of total interactions df_Challenge into a numeric matrix of vectors. With the df.to_numpy function.

In [45]:
m7 = df_Challenges.to_numpy()

In [46]:
m7

array([['Us_1', 2, 1, ..., 5, 5, 1],
       ['Us_2', 0, 3, ..., 2, 4, 4],
       ['Us_3', 0, 1, ..., 2, 0, 3],
       ...,
       ['Us_97', 4, 3, ..., 4, 1, 0],
       ['Us_98', 1, 5, ..., 5, 5, 5],
       ['Us_99', 1, 4, ..., 4, 0, 2]], dtype=object)

//b Luego tomamos el promedio de cada desafío, de la matriz de interacciones principales.

In [169]:
df_Challenges.mean()

Ch_1      2.333333
Ch_2      2.424242
Ch_3      2.272727
Ch_4      2.323232
Ch_5      2.505051
            ...
Ch_96     2.343434
Ch_97     2.383838
Ch_98     2.696970
Ch_99     2.606061
Ch_100    3.000000
Length: 100, dtype: float64

// c Normalizamos usando el promedio

In [ ]:
def normalize(df_Challenges):
    result = df_Challenges.copy()
    for feature_name in df_Challenges.columns:
        max_value = df_Challenges[feature_name].max()
        min_value = df_Challenges[feature_name].min()
        result[feature_name] = (df_Challenges[feature_name] - min_value) / (max_value - min_value)
    return result

In [180]:
df_Challenges.copy()

,User_ID,Ch_1,Ch_2,Ch_3,Ch_4,Ch_5,Ch_6,Ch_7,Ch_8,Ch_9,...,Ch_91,Ch_92,Ch_93,Ch_94,Ch_95,Ch_96,Ch_97,Ch_98,Ch_99,Ch_100
0,Us_1,2,1,4,2,5,4,3,5,1,...,4,5,0,4,2,3,2,5,5,1
1,Us_2,0,3,1,4,0,5,5,0,2,...,4,5,2,0,3,5,5,2,4,4
2,Us_3,0,1,0,4,3,4,2,1,0,...,2,5,0,2,3,1,2,2,0,3
3,Us_4,1,2,4,0,0,3,2,5,4,...,3,3,0,5,3,5,1,2,0,5
4,Us_5,5,3,2,3,0,4,1,2,1,...,5,3,1,2,5,5,1,4,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,Us_95,0,4,5,2,0,5,0,5,1,...,0,3,1,0,4,1,5,4,0,4
95,Us_96,0,5,2,4,5,3,3,1,3,...,2,0,2,2,1,1,2,4,2,0
96,Us_97,4,3,0,5,2,0,2,0,5,...,0,0,1,4,2,2,3,4,1,0
97,Us_98,1,5,3,0,0,2,4,1,4,...,4,0,0,3,0,2,3,5,5,5
98,Us_99,1,4,5,5,5,2,5,5,2,...,2,2,3,2,3,0,4,4,0,2

In [187]:
cv = CountVectorizer()

In [173]:
min_max_scaler = preprocessing.MinMaxScaler()

In [174]:
min_max_scaler

MinMaxScaler()

### Step 5 

Aplicamos el algoritmo de similaridad (coseno del Ch:1_ Comparado con todos)

In [ ]:
similar_to_Ch_1 = df_Challenges.corrwith(Ch_1_User_ID_values)

In [178]:
similar_to_Ch_1

Ch_1      1.000000
Ch_2     -0.226801
Ch_3      0.009622
Ch_4     -0.012192
Ch_5      0.001038
            ...
Ch_96    -0.031651
Ch_97     0.011363
Ch_98    -0.009664
Ch_99    -0.202283
Ch_100   -0.107103
Length: 100, dtype: float64

In [197]:
query_index = np.random.choice(df_Challenges.shape[1])
print(query_index)

26

    m8 = df_Challenges.copy.to_numpy()